body,
html {
    overflow: hidden;
}

.titleLogin {
    color: rgb(10, 74, 99);
    font-size: 800%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: nowrap;
}

.clientsBtn {
    width: 300px;
}

.loginBtn {
    background-color: rgb(89, 182, 219);
    color: white;
    cursor: pointer;
}

.showPass {
    display: flex;
    align-items: baseline;
}