.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .popup {
    background-color: #fff;
    padding: 10px; /* Reduced padding */
    border-radius: 8px; /* Subtle rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduced shadow size */
    text-align: center;
    width: 250px; /* Set fixed width */
    height: 200px; /* Set fixed height */
  }